body {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
                         "nav nav nav"
                         "aside main ."
                         "footer footer footer";
}
nav li {
    list-style:none;
    display: inline;
    float: left;
    width: 20%; 
}