body {
    font-family: 'Noto Sans', sans-serif;
}
header{
    background:rgb(196, 196, 196);
    grid-area: header;
}
nav{
    background: grey;
    grid-area: nav;
}
main{
    background: white;
    grid-area: main;
    margin:1em;
}
aside{
    background: grey;
    grid-area: aside;
}
footer{
    background:grey;
    grid-area: footer;
    font-family: 'Dancing Script', cursive;
}
#hidenav{
    display: none;
}
#shownav{
    display: none;
}
.profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 1em;
    display: inline;
    float: center;
}
header h1{
    display:inline;
    float:center;
}
.nopaddedline{
    margin-top:0em;
    margin-bottom:0em;
}
.centered{
    text-align: center;
}
.portfolioitem{
    grid-template-columns: 30% 70%;
    /*align-items: left;*/
    grid-gap:0.5;
}
.insidetext{
    border:none;
}
.portfolioitem > p{
    grid-column:2;
    width:70%;
    float:left;
    margin-top:0em;
    margin-bottom:0em;
}
.portfolioitem img{
    width:150px;
    height:150px;
    grid-column:1;
    float:left;
    margin:0.5em;
}
div{
    margin-top:2em;
    border: thick double #32a1ce;
}
form {
    display: grid;
    width: 400px;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 0.5em;
    }
.submit{
    grid-column: 2;
}
#message{
    width:300px;
    height:150px;
}
.placeholder{
    grid-column:1;
    height: 150px;
    width: 150px;
    border-top: black;
    border-bottom: black;
    border:solid;
    margin:0.5em;
    position:relative;
    float:left;
}
.placeholder:before,.placeholder:after{
    content:'';
    position:absolute;
    width:215px;
    height:3px;
    background-color:black;
    border-radius:2px;
    top:74px;
    box-shadow:0 0 2px 0 #ccc;
}

.placeholder:before{
    transform:rotate(45deg);
    right:-34px;
}
.placeholder:after{
    transform:rotate(-45deg);
    left:-34px;
}
.maintitle{
    /*doesn't work*/
    text-align:center;
    float:center;
}
