body {
    font-family: arial;
}
header{
    background:grey;
    grid-area: header;

}
nav{
    background: grey;
    grid-area: nav;
}
main{
    background: white;
    grid-area: main;
}
aside{
    background: grey;
    grid-area: aside;
}
footer{
    background:grey;
    grid-area: footer;
}